// FONTS variables
// font-face location './../modules/fonts.scss'




// ------------------------------------------------------------
$base:  'Helvetica Neue', helvetica, arial, sans-serif !default;
$text_regular:     'VerizonNHGeTX-Regular',  $base;
$text_bold:        'VerizonNHGeTX-Bold',     $base;
$display_regular:  'VerizonNHGeDS-Regular',  $base;
$display_bold:     'VerizonNHGeDS-Bold',     $base;